/*
 *= require_self
 *= require_tree .
 */

body { 
  background-color: #F2F2F2;
  color: #3B3B3B ;
  font-size: 16px;
  font-family: "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 25px; 
}

a:link, a:visited { color: #65823F; }

a:hover { color: #A6C86E; }

/* Masthead
================================================== */
.masthead {
  background-color: #1E3546;
  color: #f7f9e4;
  font-size: 0.9em;
  text-align: center;
}
  .masthead p { padding-top: 1em; }
  .header { margin: 25px 0; }

/* Quote Form
================================================== */

.quote {
  background-color: white;
  border: 1px solid #E2E2E2;
  margin-bottom: 155px;
  padding: 15px 0;
  padding-top: 0;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -webkit-box-shadow: 0px 1px 5px rgba(226, 226, 226, 0.95);
  	 -moz-box-shadow:    0px 1px 5px rgba(226, 226, 226, 0.95);
  	 	  box-shadow:         0px 1px 5px rgba(226, 226, 226, 0.95);
}

form { margin-bottom: 0.8em !important; }

.quote h2 {
  font-size: 1.5em;
  text-align: center;
  color: #474747;
  font-weight: bold;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 27px 0;
}

#errorExplanation h4 {
  margin-bottom: 1em;
  padding-left: 20px;
}
  #errorExplanation ul { margin-bottom: 1.5em;}
  #errorExplanation li {
    color: #f36130;
	font-size: 0.8em;
	text-align: left;
	padding-left: 30px;
  }

fieldset, h1 { border: none; border-top: 2px solid #E2E2E2; width: 94%; margin: 0 2%; }
h1 { text-align: center; padding-bottom: 15px; }
fieldset input {
	border: 2px solid #dddddd;
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
			border-radius: 2px;
}

label { text-align: right; font-size: 14.5px }
label { display: inline-block; width: 25%; margin-right: 3%; }
input[type="text"], input[type="number"] { background-color: #f7f7f8; padding: 5px; width: 25%; }
#fieldEmail { 
  border: 1px #dbdbdb solid; 
  padding: .7em 1em; 
  width: 35%; 
  margin-right: 2%; 
  font-size: 1em; 
  -webkit-border-radius: .5em; 
     -moz-border-radius: .5em;
	      border-radius: .5em;
  }
.currency { margin-right: 5px; }
select#quote_building_excess, select#quote_content_excess { width: 20%; }
fieldset.theNumbers input  { width: 20%; }
.property-label {
  text-align: center;
  width: 100%;
}
.ui-slider { width: 50%; }
input#quote_content_sum.slider, input#quote_building_sum.slider { width: 15%; font-weight: bold; }
.select-another {
  float: left;
  padding-right: 15px;
}

.reset_button {
  padding: 0;
  margin-right: 7%;
  border:  none;
  width: auto;
  background: none;
  text-decoration: underline;
  font-size: 0.8em;
}

a.reset_button { color: #3B3B3B; }
a.reset_button:hover { color: #f36130; }

.submit { 
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  padding: .5em 2em .55em;
  -webkit-border-radius: .5em; 
     -moz-border-radius: .5em;
	      border-radius: .5em;
  -webkit-box-shadow: inset 0px 1px 1px rgba(255,255,255,1);
     -moz-box-shadow: inset 0px 1px 1px rgba(255,255,255,1); 
          box-shadow: inset 0px 1px 1px rgba(255,255,255,1);
  margin-top: 25px;
  width: 220px;
  height: 40px;
  font-size: 1.1em;
  border: none;
  background: #f36130;
  color: #fff;
}
  .submit:hover { background: #ea5d2e; }
  .submit:active { background: #f86d3f; }

/* .premium-placeholder and .sidebar
================================================== */
			
.premium-placeholder {
  border: 0.1em solid #ccc;
  background-color: white;
  -webkit-border-radius: 12px;
	 -moz-border-radius: 12px;
	      border-radius: 12px;
	-webkit-box-shadow: 0px 1px 5px rgba(226, 226, 226, 0.95);
	   -moz-box-shadow:    0px 1px 5px rgba(226, 226, 226, 0.95);
	        box-shadow:         0px 1px 5px rgba(226, 226, 226, 0.95);
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	     -o-box-sizing: border-box;
	        box-sizing: border-box;
  position: fixed;
}
  .premium-placeholder h3, .sidebar h3 {
    text-align: center;
    font-size: 1.06em;
    font-weight: bold;
    margin: 1.2em 0;
  }

.sidebar {
  border: 0.1em solid #edca97;
  background: #fdffd3;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
  -webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
	   -o-box-sizing: border-box;
	      box-sizing: border-box;
  position: fixed;
}
  .sidebar p { text-align: center; }

.premium-box {
  background: #fdffe7;
  border: 0.1em solid red;
  padding: 5%;
  margin: 7%;
}
  .premium-box p {
	padding: 0;
	margin: 0;
  }
  .premium-box .line-break {
	padding-bottom: 10px;
	border-bottom: 0.1em solid #dadbbc;
  }
  .premium-box .line-break2 { padding-top: 10px; }

.sidebar-form {
  margin-top: 20px;
  padding: 0 7%;
}
  .sidebar-form fieldset {
    border: none;
    margin: 4% 0;
  }
  .sidebar-form fieldset:first-child { margin-top: 0; }
  .sidebar-form label { font-size: 80%; }
  .sidebar-form input { width: 70% !important; }
  .sidebar-form .button {
	width: 202px !important;
	height: 40px;
	margin: 0 auto;
	margin-top: 20px;
	display: block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
    font-weight: 700;
    -webkit-border-radius: .5em; 
       -moz-border-radius: .5em;
	        border-radius: .5em;
    margin-top: 25px;
    font-size: 1em;
    padding: 10px;
    border: none;
    background: #8fbf3c;
    color: #fff;
	font-size: 1em;
  }
  .sidebar-form .button:hover { background: #a6c86f; }

.premium-cost {
  font-size: 1.7em;
  font-weight: bold;
  color: #474747;
}

.payment-desc { font-size: 80%; }

.small-print {
  font-size: 70%;
  color: #969696;
  text-align: center;
  line-height: 20px;
}

/* The grand finale
================================================== */

.show { background-color: #ffffff; }
  .show form { text-align: center; }

.intro-copy h2 {
  font-size: 3.2em;
  color: #65823F;
  text-align:center;
}
  .intro-copy p {
	padding: 0 10%;
	text-align: center;
  }

.subscribe {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  -webkit-border-radius: .5em; 
     -moz-border-radius: .5em;
	      border-radius: .5em;
  margin-top: 25px;
  font-size: 1em;
  padding: 10px;
  border: none;
  background: #a6c86f;
  color: #fff;    	
}
  .subscribe:hover {
	background: #8fbf3c;
  }

.site-header-wrap {
  position:relative;
  background-color:#fff;
  background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfdf6),color-stop(100%, #fff));
  background-image:-webkit-linear-gradient(#fcfdf6,#fff);
  background-image:linear-gradient(#fcfdf6,#fff);
  -webkit-transition:all 0.3s ease-in-out;
     -moz-transition:all 0.3s ease-in-out;
	      transition:all 0.3s ease-in-out;
  box-shadow:0px 1px 3px 0px rgba(0,0,0,0.01);
}
  .site-header {
	padding-top:46px;
	padding-bottom:46px;
  }

.home-intro {
  background:#f7f9e4;
  background-image:url("http://brokersdirect.co.uk/wp-content/themes/brokersdirect/library/images/home-intro-pattern.png"),-webkit-linear-gradient(top, #f7f9e4 0%, #f7f9e4 65%, #fff 100%);
  background-image:url("http://brokersdirect.co.uk/wp-content/themes/brokersdirect/library/images/home-intro-pattern.png"),-moz-linear-gradient(top, #f7f9e4 0%, #f7f9e4 65%, #fff 100%);
  background-image:url("http://brokersdirect.co.uk/wp-content/themes/brokersdirect/library/images/home-intro-pattern.png"),-ms-linear-gradient(top, #f7f9e4 0%, #f7f9e4 65%, #fff 100%);
  background-image:url("http://brokersdirect.co.uk/wp-content/themes/brokersdirect/library/images/home-intro-pattern.png"),-o-linear-gradient(top, #f7f9e4 0%, #f7f9e4 65%, #fff 100%);
  background-image:url("http://brokersdirect.co.uk/wp-content/themes/brokersdirect/library/images/home-intro-pattern.png"),linear,top,#f7f9e4 0%,#f7f9e4 65%,#fff 100%;
  background-position:top left;background-repeat:no-repeat;text-shadow:0 1px rgba(255,255,255,0.5)}
    .home-intro-inner{
	  padding-top:57.5px;
	  padding-bottom:57.5px;
	  background-image:url(http://brokersdirect.co.uk/wp-content/themes/brokersdirect/library/images/light-burst.png);
	  background-repeat:no-repeat;
	  background-position:center 20px;
	}